<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184313365091-46i4lqnhoffl9o9pv8h6s4jita329h64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184313365091-46i4lqnhoffl9o9pv8h6s4jita329h64</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMs8uFPr3JaWqV6MyHKHaFjVtyGk9458</string>
	<key>GCM_SENDER_ID</key>
	<string>184313365091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-a755f</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-a755f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184313365091:ios:2b840e77f7293994b46e56</string>
</dict>
</plist>